.button {
  padding: 5px 7px;
  font-size: 13px;
  border: 1px solid #fff;
  border-radius: 3px;
  transition: 0.2s ease;
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
}

.button:hover {
  background-color: #fff;
  color: #383838;
  transition: 0.2s ease;
  text-decoration: none;
}

.bigger {
  font-size: 16px;
  padding: 7px 10px;
}

.button-new {
  position: absolute;
  right: 40px;
  top: 40px;
}
